.nav {
	display: inline-block;
	margin-top: 10px;
}
.searchBar {
	width: 50%;
	margin-right: 10%;
}

.navbar-header {
	width: 100%;
	margin: 0;
}

.navbar-brand {
	margin-right: 10%;
}

.icon {
	margin-right:5%;
	margin-left: 5%;
	font-size: 16pt;
}
.margin-top {
	margin-top: 5em;
}

// this part is home page
.home-img {
	width: 250px;
	border-radius: 10px;
	margin-top: 1em;
	margin-bottom: 1em;

}
.home-btn {
	position: absolute;
	margin-left: 25px;
	margin-top: 20px;
}
.thumbnail-home {
	width: 300px;
	border-radius: 10px;
}