.nav {
    display: inline-block;
    margin-top: 10px;
}

.searchBar {
    width: 50%;
    margin-right: 10%;
}

.navbar-header {
    width: 100%;
    margin: 0;
}

.navbar-brand {
    margin-right: 10%;
}

.navbar-img {
    margin-top: -20px;
}
.icon {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 16pt;
}

.margin-top {
    margin-top: 5em;
}

// this part is home page
.home-img {
    width: 250px;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.home-btn {
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
}
//THIS IS THE LARGE IMAGE VIEW PAGE
.large-btn {
    margin-bottom: 5px;
    margin-right: -30px;
}

.large-image {
    width: 430px;
    height: 600px;
    border-radius: 10px
}

.thumbnail-home {
    width: 300px;
    border-radius: 10px;
    border-color: #FFF;
}

.thumbnail-home:hover {
    color: #EFEFEF;
    background-color: #EFEFEF;
}
.navbar-padding {
	padding-right: 2em;
}
.profile-img {
	width: 170px;
	margin-bottom: 3em;
	margin-top: -100px;
}
.profile-name {
	margin-top: 3em;
	color: #555;
	font-weight: 900;
	font-size: 3em;
}
