<div class="container margin-top">
    <div class="page-header">
        <h2>{{boardName}}</h2>
    </div>

    <div class="container">
    <div class="row margin-top">
        <div class="col-md-3 thumbnail thumbnail-home">
            <div class="thumbnail">
            <div class="caption">
                <h3>Add a New Pin</h3>
                <p><a data-toggle="modal" data-target="#addPinModal" class="btn btn-primary" role="button">Add</a>
            </div>
            </div>
            </div>
        <div ng-repeat="item in itemList">
            <div class="col-md-3 thumbnail thumbnail-home">
                <button  data-toggle="modal" data-target="#addPinModal" type="button" class="btn btn-danger home-btn" value="{{item.url}}"><span class="glyphicon glyphicon-pushpin" value="{{item.url}}"></span></button>
                <a ng-href="#!/largeView/{{item.id}}"><img class="home-img" ng-src="{{item.url}}"></a>
            </div>
        </div>
    </div>
    </div>
</div>

    <!--<div class="row">
        <div class="col-m3">
            <div class="thumbnail">
            <div class="caption">
                <h3>Add a new Pin</h3>
                <p><a data-toggle="modal" data-target="#addPinModal" class="btn btn-primary" role="button">Add</a>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row margin-top">
                <div ng-repeat="item in itemList">
                    <div class="col-md-3 thumbnail thumbnail-home">
                        <button  data-toggle="modal" data-target="#addPinModal" type="button" class="btn btn-danger home-btn" value="{{item.url}}"><span class="glyphicon glyphicon-pushpin" value="{{item.url}}"></span></button>
                        <a ng-href="#!/largeView/{{item.id}}"><img class="home-img" ng-src="{{item.url}}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
