<div class="container">
    <div class="row margin-top">
        <div ng-repeat="item in imagesFromFlickr">
            <div class="col-md-3 thumbnail thumbnail-home">
                <button  data-toggle="modal" data-target="#addPinModal" type="button" class="btn btn-danger home-btn" ng-show="isUser" value="https://farm{{item.farm-id}}.staticflickr.com/{{item.server-id}}/{{item.id}}_{{item.secret}}.jpg"><span class="glyphicon glyphicon-pushpin" </span></button>
                <a ng-href="#!/largeViewFlickr/{{item.id}}"><img class="home-img" ng-src="https://farm{{item.farm-id}}.staticflickr.com/{{item.server-id}}/{{item.id}}_{{item.secret}}.jpg
"></a>
            </div>
        </div>
    </div>
</div>

