<!-- <div class="container">
    <div class="row margin-top" >
        <div ng-repeat="item in dataFromFb" class="homeImgBox" >
            <div class="col-md-3 thumbnail thumbnail-home">
                <button  data-toggle="modal" data-target="#addPinModal" type="button" class="btn btn-danger home-btn" ng-show="isUser" value="{{item.url}}"><span class="glyphicon glyphicon-pushpin" value="{{item.url}}"></span></button>
                <a ng-href="#!/largeView/{{item.id}}"><img class="home-img" ng-src="{{item.url}}"></a>
            </div>
        </div>
    </div>
</div> -->

<div id="wrapper" class="container-fluid">
	<div id="columns">
		<div class="pin" ng-repeat="item in dataFromFb">
			<button  data-toggle="modal" data-target="#addPinModal" type="button" class="btn btn-danger home-btn" ng-show="isUser" value="{{item.url}}"><span class="glyphicon glyphicon-pushpin" value="{{item.url}}"></span></button>
            <a ng-href="#!/largeView/{{item.id}}"><img class="home-img" ng-src="{{item.url}}"></a>
		</div>
	</div>
</div>