<nav ng-controller="NavCtrl" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#!/">
        		<img alt="Brand" src="">
      		</a>
			<div class="searchBar nav form-group ">
	    		<input type="text" class="form-control" placeholder="Search">
	  		</div>
	  		<a class="nav" href="#!/explore"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
			<a class="nav" href="#!/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></a>
		</div>
	</div>
</nav>
