<nav ng-controller="NavCtrl" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#!/">
        		<img src="https://business.pinterest.com/sites/default/files/flex_img/2017-02/1-brand-guidelines-01.jpg" class="navbar-img" width="90px" height="55px">
      		</a>
			<div class="searchBar nav form-group ">
	    		<input type="text" class="form-control" placeholder="Search">
	  		</div>
	  		<a class="nav" href="#!/explore"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
			<a class="nav" href="#!/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></a>
			<a ng-href="#!/" ng-show="!isLoggedIn" ng-controller="AuthCtrl" ng-click="login()">Login</a>
			<a ng-show="isLoggedIn" ng-href="#!/" ng-controller="AuthCtrl" ng-click="logout()">Logout</a>
		</div>
	</div>
</nav>
