<div class="container">
        <h1 class="col-md-offset-3 profile-name">{{userName}}</h1>
        <img class="col-md-offset-9 text-right profile-img img-circle" src="{{userImg}}" alt="{{userName}}">

    <div class="col-md-4 switch-btn">
        <a ng-href="#!/profile">
            <button type="button" class="btn btn-default">Boards</button>
        </a>
        <a ng-href="#!/pinview">
            <button type="button" class="btn btn-danger">Pins</button>
        </a>
    </div>
    <!-- <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Add a new Pin</h3>
                    <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#addPinModal">Save Pin</a>
                </div>
            </div>
        </div>
        <div ng-repeat="item in itemList">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{item.url}}" alt="{{item.name}}">
                        <div class="caption">
                        <h3>{{item.name}}</h3>
                        <a ng-href="#!/boardpins/{{item.Id}}"><img ng-src="{{item.url}}"></a>
                        <p><a ng-click="deletePin(item.id)" class="btn btn-default" role="button">Delete</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->

    <div id="wrapper" class="container-fluid">
        <div id="columns">
            <div class="pin">
                <div class="caption newCaption">
                    <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#addPinModal">Add Pin</a>
                </div>
            </div>
            <div class="pin" ng-repeat="item in itemList | filter: searchData.search"">
                <button  data-toggle="modal" data-target="#addPinModal" type="button" class="btn btn-danger home-btn" ng-show="isUser" value="{{item.url}}"><span class="glyphicon glyphicon-pushpin" value="{{item.url}}"></span></button>
                <a ng-href="#!/largeView/{{item.id}}"><img class="home-img" ng-src="{{item.url}}"></a>
            </div>
        </div>
    </div>



</div>
