
<div class="container margin-top">
    <h1 class="col-md-offset-5 profile-name">{{userName}}</h1>

        <img class="col-md-offset-9 text-right profile-img img-circle" src="{{userImg}}" alt="{{userName}}">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <div class="caption">
                <h3>Add a new Board</h3>
                <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#addBoardModal">Add</a>
            </div>
            </div>
        </div>
        <div ng-repeat="item in itemList">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                <!--<img src="{{item.url}}" alt="{{item.name}}">-->
                <div class="caption">
                    <h3>{{item.name}}</h3>
                    <!--<a ng-href="#!/boardpins/{{item.Id}}"><img href="{{item.img}}"></a>-->
                    <p><a  class="btn btn-primary" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">Delete</a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
